@import 'colors';

$primary: #006699;

h3 {
    color: $primary;
}

.modalWindow {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    border: 2px solid green;
    // background-color: $dark; // check file import
    max-width: 600px;
    margin: 0 auto;
}


.stages {
    width: 200px;

    .stages_nav {
        display: flex;
        justify-content: space-around;
    }
    .stages_num {

    }
    .stages_stage {
        text-align: center;
    }
}
