@import 'colors';

$primary: #006699;

h3 {
    color: $primary;
}

.modalWindow {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    border: 2px solid green;
    // background-color: $dark; // check file import
    max-width: 600px;
    margin: 0 auto;
}


.stages {
    width: 200px;

    &_nav {
        display: flex;
        justify-content: space-around;
    }
    &_num {
        cursor: pointer;
        background-color: #ffe6e6;
        text-align: center;
        width: 30px;
        &--active {
            background-color: blue;
        }
    }
    &_stage {
        text-align: center;
    }

}
